
:root {
  // Colours
  @media (prefers-color-scheme: dark) 
  {
    --background-color: #3d3e3f;
    --header-color: #585858;
    --text-color: white;
    --shadow-color: #202020;
  }
  
  @media (prefers-color-scheme: light) 
  {
    --background-color: #dfdfdf;
    --text-color: white;
    --shadow-color: #c2c1c0;
  }
  
}

.app {
  text-align: center;
}

.app-header {
  height: 10vh;
  background-color: var(--background-color);
  position: relative;

}

.menu-icon {
  padding: 0 2%;
  float: right;
}

.app-body {
  height: 90vh;
  width: 100vw;
  background-color: var(--background-color);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-container {
  animation: 2s ease 0s 1 entrance;
  position: relative;
  transition: top, left 100ms ease-out;
}

#headline-title {
  z-index: 1;
  font-size: 100px;
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
  position: relative;
  transition: text-shadow 300ms ease-out;
}

@keyframes entrance {
  0% {
    opacity: 0;
    top: 0;
    left: 0;
    transform: translateY(300%);
  }
  100% {
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateY(0%);
  }
}