.fade-enter {
  position: absolute;
  
  will-change: transform;
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
  transition: 2s ease;
}
.fade-exit {
  position: absolute;

  will-change: transform;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: 2s ease;
}
.fade-exit-active {
  transform: translateX(100vw);
  opacity: 0;
}
.fade-enter-active {
  transform: translateX(0);
  opacity: 1;
}