
:root {
  // Colours
  @media (prefers-color-scheme: dark) 
  {
    --background-color: #3d3e3f;
    --header-color: #585858;
    --text-color: white;
    --shadow-color: #202020;
  }
  
  @media (prefers-color-scheme: light) 
  {
    --background-color: #dfdfdf;
    --text-color: white;
    --shadow-color: #c2c1c0;
  }
  
}

.app {
  text-align: center;
}

.cursor {
  position: absolute;
  transition: 300ms ease-out;
  z-index: 100;

}

.cursor-light {
  height: 30px;
  width: 30px;
  opacity: 1;
  background-color: white;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(5px);
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  animation: pulse 4s ease-in-out infinite;
}

.cursor-ring {
  position: absolute;
  z-index: 100;
  opacity: 1;
  height: 30px;
  width: 30px;
  top: -1px;
  left: -2px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 50%;
  animation: cursorClick 1.5s 1s ease-in-out infinite; 
}

@keyframes cursorClick {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  50% {
    transform: scale(3);
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.app-header {
  height: 10vh;
  background-color: var(--background-color);
  position: relative;

}

.menu-icon {
  padding: 0 2%;
  float: right;
}

.app-body {
  height: 90vh;
  width: 100vw;
  background-color: var(--background-color);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-container {
  animation: 2s ease 0s 1 entrance;
  position: relative;
  transition: top, left 300ms ease-out;
}

#headline-title {
  z-index: 1;
  font-size: 100px;
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
  position: relative;
  transition: text-shadow 300ms ease-out; 
}

@keyframes entrance {
  0% {
    opacity: 0;
    top: 0;
    left: 0;
    transform: translateY(300%);
  }
  100% {
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateY(0%);
  }
}