.console-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  bottom: 7vh;
  position: fixed;
  
  .console-tab {
    height: 6vh;
    width: 6vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 150;
    opacity: 0.5;
    transition: 400ms ease-in;
    // transition: opacity 100ms ease-in-out;
    
    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }

    img {
      padding: 20% 0;
      width: 60%;
    }
  
  }

  .console {
    // z-index: 140;
    
    .console-body {
      display: flex;
      flex-wrap: nowrap;
      width: 90vw;
      height: 7vh;
      padding-left: 20px;
      // z-index: 150;
      border-bottom-left-radius: 2vh;
      border-bottom-right-radius: 2vh;
      line-height: 7vh;
      text-align: left;
      box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.75);
      background-color: rgba(54, 54, 54, 0.5);
      backdrop-filter: blur(5px);
      
      .console-text-short {
        color:white;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 3vh;
        display: inline-flex;
      }
      
      .console-input {
        display: inline-flex;
        width: 100%;
        padding-left: 10px;
        
        input {
          position: relative;
          height: 100%;
          width: 100%;
          font-family: 'Ubuntu Mono', monospace;
          font-size: 3vh;
          color: white;
          background-color: rgba(0, 0, 0, 0);
          border: none;
          outline: none;
        }
      }
    }
    
    .console-output {
      opacity: 1;
      position: absolute;
      bottom: 7vh;
      width: 90vw;
      height: 80vh;
      // z-index: 145;
      padding-left: 20px;
      border-top-left-radius: 2vh;
      border-top-right-radius: 2vh;
      background-color: rgba(54, 54, 54, 0.5);
      backdrop-filter: blur(5px);
      
      .output-list-container {
        display: flex;
        flex-direction: column;
        // flex-flow: column-reverse;
        overflow-y: auto;
        // scrollbar-width: none;
        height: 100%;
        
        .output-list {
          display: flex;
          flex-direction: column-reverse;
          text-align: left;
          padding: 0 0;
          list-style-type: none;
          transition: 500ms ease;
          
          .item {
            display: flex;
            flex: 0 0 auto;
            color:white;
            font-family: 'Ubuntu Mono', monospace;
            font-size: 3vh;
            line-height: 3vh;
          }
        }
      }
    }
  }
}

.console-body:hover {
  cursor: text;
}

.slide-enter {
  // position: absolute;
  // top: 0;
  // left: 0;
  transform: translateX(-100vw);
  transition: 300ms ease-out;
}
.slide-exit {
  // position: absolute;
  // top: 0;
  // left: 0;
  transform: translateX(0);
  transition: 300ms ease-out;
}
.slide-exit-active {
  transform: translateX(100vw);
  opacity: 0;
}
.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
}