.console-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  
  .console {
    z-index: 140;
    position: relative;
    bottom: 10vh;
    animation: 3s ease-out console-entrance;
    
    .console-body {
      display: flex;
      flex-wrap: nowrap;
      width: 90vw;
      height: 7vh;
      padding-left: 20px;
      z-index: 150;
      border-radius: 5px;
      line-height: 7vh;
      text-align: left;
      background-color: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);

      .console-text-long {
        color:green;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 3vh;
        display: inline-flex;
        
        .console-white {
          color: white;
          font-family: 'Ubuntu Mono', monospace;
          font-size: 3vh;
        }
      
        .current-directory {
          color: rgb(59, 59, 255);
          font-family: 'Ubuntu Mono', monospace;
          font-size: 3vh;
        }
      }

      .console-text-short {
        color:green;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 3vh;
        display: inline-flex;
      }
        
      .console-input {
        display: inline-flex;
        width: 100%;
        padding-left: 10px;
        
        input {
          position: relative;
          height: 100%;
          width: 100%;
          font-family: 'Ubuntu Mono', monospace;
          font-size: 3vh;
          color: white;
          background-color: rgba(0, 0, 0, 0);
          border: none;
          outline: none;
        }
      }
    }

    .console-output {
      opacity: 0;
      position: absolute;
      bottom: 8vh;
      width: 90vw;
      height: 82vh;
      z-index: 145;
      padding-left: 20px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      transition: 500ms ease;
      
      ol {
        height: 76vh;
        width: 89vw;
        position: absolute;
        bottom: 0;
        text-align: left;
        overflow: hidden; 
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 0 0;
        list-style-type: none;
        transition: 500ms ease;
      }

      li {
        flex: 0 0 auto;
        color:white;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 3vh;
        
      }
    }
  }
}

.console-body:hover {
  cursor: text;
}

@keyframes console-entrance {
  0% {
    opacity: 0;
    bottom: -10vh
  }
  50% {
    opacity: 0;
    bottom: -10vh
  }
  100% {
    opacity: 1;
    bottom: 10vh;
  }
}