:root {
  // Colours
  @media (prefers-color-scheme: dark) {
    --background-color: #3d3e3f;
    --header-color: #585858;
    --text-color: white;
    --shadow-color: #202020;
  }

  @media (prefers-color-scheme: light) {
    --background-color: #dfdfdf;
    --text-color: white;
    --shadow-color: #c2c1c0;
  }
}

.home-body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-container {
  position: relative;
  transition: 300ms ease-out;

  #headline-title {
    line-height: 12vh;
    font-size: 12vh;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    position: relative;
    transition: 300ms ease-out;
    
    span {
      font-size: 12vh;
      color: white;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 500;
      position: relative;
      word-break: normal;
      transition: 300ms ease-out;
    }
  }

  .sub-title {
    height: 3vh;
    font-size: 3vh;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin: 10px;
    text-shadow:black 0.5px 0.5px;
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}