@import "./colours.scss";

.project-body {
  width: 100vw;
  min-height: 100vh;
  background-color: $background-colour;

  .back-button {
    height: 6vh;
    width: 6vh;
    margin: 2vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $accent-colour;
    border-radius: 3vh;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease;

    cursor: pointer;

    &:hover {
      background-color: lighten($accent-colour, 5%);
    }
    &:active {
      background-color: lighten($accent-colour, 10%);
    }
  }

  .bi-arrow-left-short {
    height: 100%;
    width: 100%;
    filter: invert(1);
  }

  .project-wrapper {
    padding: 50px;

    .project-topbar {
      display: flex;
      align-items: center;
      justify-content: right;

      .project-icon-container {
        height: 30px;
        width: 30px;
        margin-right: 20px;
        padding: 10px;
        border-radius: 50%;
        background-color: $accent-colour;
        transition: box-shadow 300ms ease, background-color 300ms ease;

        cursor: pointer;

        &:hover {
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 1);
          background-color: lighten($accent-colour, 5%);
        }
        &:active {
          background-color: lighten($accent-colour, 10%);
        }

        .project-icon {
          height: 30px;
          width: 30px;
          filter: invert(1);
        }
      }

      .project-spacer {
        height: 30px;
        width: 30px;
        flex-basis: 30px;
      }
    }

    .project-description-title {
      margin-top: 40px;
      color: $text-colour;
      font-size: 25px;
    }

    .project-description {
      color: $text-colour;
      opacity: 0.6;
      font-size: 20px;
    }

    .readme-markdown {
      width: calc(100vw - 80px);
      color: $text-colour;
    }
  }
}

.title-img-project {
  opacity: 1;
  position: absolute;
  z-index: 5;
  transform-style: preserve-3d;
  transform: translateZ(50px);
  clip-path: inset(0px 0px 0px 0px);
}

.project-title {
  position: absolute;
  padding: 2px;
  font-weight: 900;
  background-color: invert($text-colour);
  color: $text-colour;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Ubuntu Mono', monospace;
  transform-style: preserve-3d;
  z-index: 6;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

p {
  color: white;
  font-size: 18px;
  padding: 40px;
}