@import "./colours.scss";

.project-body {
  width: 100vw;
  min-height: 100vh;
  background-color: $background-colour;

  .back-button {
    height: 6vh;
    width: 6vh;
    margin: 2vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $accent-colour;
    border-radius: 3vh;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bi-arrow-left-short {
    height: 100%;
    width: 100%;
    filter: invert(1);
  }
}

.title-img-project {
  opacity: 1;
  position: absolute;
  z-index: 5;
  transform-style: preserve-3d;
  transform: translateZ(50px)
}

.project-title {
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: rgba(29, 29, 29, 0.7);
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'IBM Plex Sans', sans-serif;
  transform-style: preserve-3d;
  z-index: 6;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

p {
  color: white;
  font-size: 18px;
  padding: 40px;
}