@import "./colours.scss";

.skills-body {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: $background-colour;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  // overflow: hidden;

  .skills-info-container {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .skills-title {
      position: relative;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 700;
      font-size: 50px;
      line-height: 40px;
      color: $text-colour;
    }

    .skills-description {
      padding: 20px;
      color: $text-colour;
      opacity: 0.8;
      font-size: 15px;
    }
  }
  .sphere-container {
    height: 100%;
    width: 60%;
    min-width: 500px;
    perspective: calc(min(100vh, 100vw));

    .sphere-item {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      white-space: nowrap;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 999px) {
  .skills-info-container {
    width: 100%;
  }
  .sphere-container {
    width: 100%;
  }
}