@media only screen and (max-width: 600px) {
  .social-bar-container {
    position: fixed;
    left: 0;
    bottom: 2vh;
    display: inline-flex;
    flex-direction: row;
  
    height: 10vw;
    width: 50vw;
    z-index: 100;
    
    div {
      position: relative;
      padding: 2vw;
      z-index: 100;
      height: 6vw;
      
      &:hover img {
        opacity: 1;
      }
      
      img {
        filter: invert(1);
        opacity: 0.8;
        height: 6vw;
        width: 6vw;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .social-bar-container {
    position: fixed;
    left: 0;
    top: 30vh;
    display: inline-flex;
    flex-direction: column;
  
    height: 40vh;
    width: 0vh;
    z-index: 100;

    &:hover div {
      width: 4vh;
      padding: 2vh;
    }

    &:hover div img {
      width: 4vh;
    }
    
    div {
      padding: 2vh 0;
      position: relative;
      z-index: 100;
      width: 1vh;
      height: 4vh;
      transition: width 200ms ease, box-shadow 200ms ease, border-radius 200ms ease;
      
      &:hover {
        width: 8vh;
        box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.75);
        z-index: 110;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
      }
  
      &:hover img {
        opacity: 1;
      }
      
      img {
        filter: invert(1);
        opacity: 0.8;
        transition: width 200ms ease;
        height: 4vh;
        width: 0;
      }
    }
  }
}



.github {
  background-color: rgb(33, 31, 31);
}
.twitter {
  background-color: rgb(29, 161, 242);
}
.stackoverflow {
background-color: rgb(244, 128, 36);
}
.linkedin {
background-color: rgb(40, 103, 178);
}
.email {
background-color: rgb(212, 70, 56);
}
 