.project-body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(32, 34, 37);
}

.title-img-project {
  opacity: 1;
  position: absolute;
  z-index: 1;
  transform-style: preserve-3d;
  transform: translateZ(50px)
}

.project-title {
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: rgba(29, 29, 29, 0.7);
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'IBM Plex Sans', sans-serif;
  transform-style: preserve-3d;
  z-index: 1;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

p {
  color: white;
  font-size: 18px;
  padding: 40px;
}